body{
	margin:0;
	font-family:arial;
	background: url('https://cdn.doutui.net/sucai/image/background2.png') center center no-repeat #f2f5f9;
	background-size: cover;/* https://source.unsplash.com/1600x900/?nature */
}
